<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurante.Properties.Settings.DBRestauranteConnectionString"
            connectionString="Data Source=DESKTOP-7HRFF62\SQLEXPRESS;Initial Catalog=DBRestaurante;Persist Security Info=True;User ID=CISCO;Password=asd123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>